//Color and size assignments
$font-size-mobile: 2rem;
$font-size-tablet: 4rem;
$font-size-desktop: 5rem;
$button-size: 1.5rem;

$font-color: #1b1b3a;

//breakpoints
$desktop: 1000px;
$tablet: 768px;

$footer-background: #347097;

// Item Card
$item-heading: white;
$item-share-btn: rgba(255, 255, 255, 0.452);
$item-share-btn-font: #7dbae6;
$item-rent-btn: #7dbae6;
$item-rent-btn-font: white;
// ItemHover
$item-rent-btn-hover: #205c88;
$item-share-btn-hover: #205c88;
$item-rental-sidebar-title-font: #979797;